{% extends "layout.html" %}

{% block title %}
    Community Add
{% endblock %}

{% block main %}
    <form method="POST">
        <div class="container" style="text-align: left; width: 33%;">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <h4 style="padding: 0px 11px 11px 0px; pointer-events: none;">Create a community</h4>
            {{ form.name(placeholder="Community name") }}
            <br>
            {{ form.description(placeholder="Desription...", class="body") }}
            <div style="text-align: right; margin-top: 15px;">
                <a href="/" class="button_cancel">Cancel</a>
                <span style="margin-right: 9px;"></span>
                {{ form.create(class="button") }}
            </div>
        </div>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
{% endblock %}