{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container" style="text-align: left; width: 33%">
        <h4>{{ title }}</h4>
        <p class="font">{{ body }}</p>
        <img src="{{ url_for('static', filename='spidey_lift.jpg') }}" alt="Spider-Man holding up fallen building.">
        <h6 class="font" style="margin-top: 9px;">Like | Comment | Save</h6>
    </div>
    <hr style="width: 35%; margin: 20px auto 20px auto; color: rgba(255, 255, 255, 0.3)">
{% endblock %}