{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% for post in post_history %}
            <div class="container" style="text-align: left; width: 33%;">
                <p style="display: inline-block; margin-bottom: 7px;">
                    <img style="width: 28px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture">
                    f/{{ post.community }} • {{ post.date_created }}
                    <br>
                </p>
                <a href="{{ url_for('post_page', id=post.id)}}"><h4 style="margin-bottom: 12px;">{{ post.title }}</h4></a>
                <p class="font">{{ post.body }}</p>
                <div style="display: flex; align-items: center;">
                    <h4 class="font" style="margin-top: 9px; cursor: pointer"><span style="margin-right: 9px;" class="material-symbols-outlined">thumb_up</span></h4>
                    <h4 class="font" style="margin-top: 9px; cursor: pointer"><span style="margin-right: 9px;" class="material-symbols-outlined">thumb_down</span></h4>
                    <a href="{{ url_for('post_page', id=post.id) }}"><h4 class="font" style="margin-top: 9px; cursor: pointer"><span class="material-symbols-outlined">comment</span></h4></a>
                </div>
            </div>
        <hr style="width: 35%; margin: 20px auto 20px auto; color: rgba(255, 255, 255, 0.3)">
    {% endfor %}
{% endblock %}