{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container" style="text-align: center; width: 15%; padding: 20px; border: none;">
        <form action="/login" method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <h4 style="pointer-events: none;">Log In</h4>
            <div class="mb-3">
                {{ form.username(placeholder="Username") }}
            </div>
            <div class="mb-3">
                {{ form.password(placeholder="Password") }}
            </div>
            <p style="color: white">New to 4RUMS? <a href="/signup">Sign Up</a></p>
            {{ form.submit(class="button") }}
        </form>
    </div>
{% endblock %}