{% extends "layout.html" %}

{% block title %}
    Edit Post
{% endblock %}

{% block main %}
    <form method="POST">
        <div class="container" style="text-align: left; width: 33%;">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <h4 style="padding: 0px 11px 11px 0px">Create post</h4>
            {{ form.community(placeholder="Select a Community", class="select_comm") }}
            <br>
            {{ form.title(placeholder="Title*") }}
            <br>
            {{ form.body(placeholder="Body*", class="body") }}
            <div style="text-align: right; margin-top: 9px;">
                <span style="width: 5px;display: inline-block"></span>
                {{ form.post(class="button") }}
            </div>
        </div>
    </form>
{% endblock %}