{% extends "layout.html" %}

{% block title %}
    Post Page
{% endblock %}

{% block main %}
    <div class="container" style="text-align: left; width: 40%; margin-bottom: 7px;">
        <p style="display: flex; align-items: center; margin-bottom: 7px;">
            <a href="/" class="back"><span class="material-symbols-outlined">arrow_back</span></a>
            {% if post.username == current_user.username %}
                <a href="/dashboard"><img style="width: 40px; margin-right: 7px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture"></a>
            {% else %}
                <img style="width: 40px; margin-right: 7px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture">
            {% endif %}
            f/{{ post.community }} • {{ post.date_created }}<br>{{ post.username }}
        </p>
        <h4 style="margin-bottom: 12px; pointer-events: none;">{{ post.title }}</h4>
        <p class="font">{{ post.body }}</p>
        <div style="display: flex; align-items: center;">
            <h4 class="font" style="margin-top: 9px; cursor: pointer"><span style="margin-right: 12px;" class="material-symbols-outlined">thumb_up</span></h4>
            <h4 class="font" style="margin-top: 9px; cursor: pointer"><span style="margin-right: 12px;" class="material-symbols-outlined">thumb_down</span></h4>
            {% if post.username == current_user.username %}
                <a href="/post/edit/{{ post.id }}"><h4 class="font" style="margin-top: 9px; cursor: pointer"><span class="material-symbols-outlined">edit</span></h4></a>
            {% endif %}
        </div>
    </div>
    <form method="POST">
        <div class="container" style="text-align: left; width: 40%; border: transparent; margin-bottom: 11px;">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <h4 style="padding: 0px 11px 11px 0px; pointer-events: none;">Comments</h4>
            <br>
            {{ form.comment(placeholder="Add a comment...", style="height: 42px") }}
            <div style="text-align: right; margin-top: 9px;">
                {{ form.submit(class="button") }}
            </div>
        </div>
    </form>
    {% if comments %}
        {% for comment in comments %}
            <div class="container" style="text-align: left; width: 40%;">
                {% if comment.username == current_user.username %}
                    <p>
                        <a href="/dashboard"><img style="width: 25px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture"></a>
                        {{ comment.username }} • {{ comment.date_created }}
                    </p>
                {% else %}
                    <p>
                        <img style="width: 25px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture">
                        {{ comment.username }} • {{ comment.date_created }}
                    </p>
                {% endif %}
                <div style="margin-left: 28px;">
                    <p>{{ comment.body }}</p>
                    <div style="display: flex; align-items: center;">
                        <h4 class="font" style="margin-top: 9px;"><span style="margin-right: 12px; cursor: pointer" class="material-symbols-outlined">thumb_up</span></h4>
                        <h4 class="font" style="margin-top: 9px;"><span style="margin-right: 12px; cursor: pointer" class="material-symbols-outlined">thumb_down</span></h4>
                        <h4 class="font" style="margin-top: 9px; cursor: pointer"><span class="material-symbols-outlined">Reply</span></h4>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}