{% extends "layout.html" %}

{% block title %}
    Profile View
{% endblock %}

{% block main %}
    <div class="container" style="text-align: left; width: 33%">
        <div style="display: flex; align-items: center; margin-bottom: 14px;">
            {% if user.profile_pic %}
                <img style="width: 130px; height: 130px; margin-right: 12px; border-radius: 50%;" src="{{ url_for('static', filename='images/' + user.profile_pic) }}" alt="Profile picture">
            {% else %}
                <img style="width: 130px; margin-right: 12px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture">
            {% endif %}
            <div style="display: inline-block; text-align: center;">
                <h4 style="pointer-events: none; margin-bottom: 0;">u/{{ user.username }}</h4>
                <!--<p style="margin-bottom: 3px; margin-top: 3px">Followers: 0</p>
                <button class="button">Follow</button>-->
            </div>
        </div>
        <div style="display: flex; flex-direction: column; text-align: left; margin-left: 12px;">
            <h4 style="margin-right: 15px; pointer-events: none;">Overview</h4>
            <hr style="width: 150px; align-items: left; margin-top: 3px;color: rgba(255, 255, 255, 0.7);">
            <p style="font-size: 17px;"><span style="font-weight: bold;">Display name: </span>{% if user.display_name %}{{ user.display_name }}{% endif %}</p>
            <p style="font-size: 17px;"><span style="font-weight: bold;">Username: </span>{{ user.username }}</p>
            <p style="font-size: 17px;"><span style="font-weight: bold;">Status: </span>{% if user.id in admin_user %}Administrator{% else %}User{% endif %}</p>
            <p style="font-size: 17px;"><span style="font-weight: bold;">Date Joined: </span>{{ user.date_created }}</p>
            <p style="font-size: 17px;"><span style="font-weight: bold;">Bio: </span>{% if user.user_bio %}{{ user.user_bio }}{% endif %}</p>
        </div>
        <hr style="margin-top: 3px; color: rgba(255, 255, 255, 0.7);">
        <div style="display: flex; flex-direction: column; text-align: left;">
            <h4 style="margin-right: 15px; pointer-events: none; margin-left: 12px;">Posts</h4>
            <hr style="width: 110px; margin-left: 12px; margin-top: 3px; color: rgba(255, 255, 255, 0.7);">
            {% for post in post_history %}
                <div style="margin-left: 12px;">
                    <p style="display: flex; align-items: center;">
                        {% if post.users.profile_pic %}
                            <img style="width: 25px; height: 25px; margin-right: 7px; border-radius: 50%;" src="{{ url_for('static', filename='images/' + post.users.profile_pic) }}" alt="Profile picture">
                        {% else %}
                            <img style="width: 25px; margin-right: 7px;" src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture">
                        {% endif %}
                        f/{{ post.community }} • {{ post.date_created }} • {{ post.post_like|length }} likes
                    </p>
                    <a href="{{ url_for('post_page', id=post.id)}}"><h4 style="margin-bottom: 7px;">{{ post.title }}</h4></a>
                    <p>{{ post.body|safe }}</p>
                </div>
                <hr style="margin-top: 3px; color: rgba(255, 255, 255, 0.7);">
            {% endfor %}
        </div>
    </div>
{% endblock %}